.background-image {
  position: relative;
}
.background-image::before {
  content: "";
  background-image: url("../../../Assets/car3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}
